.animal-app-periods-container {
    margin: auto;
    padding: 10px;
    border-width: 1px;
    border-color: #b1b1aa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    border: 10px solid #F7941D;
}

.animal-app-period-row-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    border: 5px solid rgb(19, 18, 18);
  
}


.searchBox {
    padding: 10px;
    margin: 0;
    width: 89.8%;
    font-family: inherit;
    color: inherit;
    font-size: 16px;
    border-radius: 2px;
    border-color: white;
    /* border: none; */
    /* border: none;
    border-bottom: 5px solid #11122b; */
  
  }